version: '3.6'
 
services:
  adminer:
    depends_on:
      - db
    image: adminer
    ports:
      - 8080:8080
  
  db:
    image: mariadb
    ports:
      - 3306:3306
    volumes:
      - mariadbfiles:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password #default USER is root
  
  wordpress:
    depends_on: 
      - db
    build: ./wordpress
    volumes:
      - wordpressfiles:/var/www/html
      - ./plugins:/var/www/html/wp-content/plugins
      - ./themes:/var/www/html/wp-content/themes
    ports:
      - 80:80
      - 443:443
  
volumes:
  mariadbfiles:
  wordpressfiles: